h1{                                     
    color:blue;
    font-size: 100px;
}
/* tag selectors */

/* img{
    background-color: bisque;
    height: 1000px;
    width: 1000px;
    border-radius: 5%;

} */

img:hover{
    background-color:chartreuse;
}

/* class selectors */

.krsna{
    /* background-color: bisque; */
    border-radius: 50%;
}
.balram{
    /* border: radius 4px; */
    /* border-radius: 50%; */
    height: 100px;
    width: 100px;
}

.circular{
    border-radius: 50%;
}

/* id selectors  */
#heading{
    color:red;
}
/* id selectors shall override the tag selectors : kinda more valued id's could be you could say for learning purpose */